body{
    background:url('../images/bg.jpg') no-repeat;
}











#registM {
    margin:150px auto;
    width:400px;
}

.inners {
    margin-top:10px;
}

#tijiao {
    margin-top:30px;
}

#loginner {
    margin-left:700px;
    width:300px;
}










